.hero
  background-color: $secondaryColor
  color: black
  border-radius: 5px
  position: relative
  width: 100%

  &__content
    display: grid
    justify-items: center
    @include atMedium
      justify-items: flex-end

    
    &-container
      @include atMedium
        padding: 0% 10%
      grid-area: 1 / 1 / 2 / 2
      @include flex(column,center,center,center)

    &-title
      color: $primaryColor
      z-index: 1
      margin: 0
      font-family: $title
      text-align: center 
      @include atSmall
        @include font(2rem, italic, $primaryColor)
      @include atMedium
        @include font(2rem, italic, $primaryColor)
      @include atLarge
        @include font(4rem, italic, $primaryColor)

    &-subtitle
      padding: 15px 0px
      font-family: $subtitle
      @include atSmall
        @include font(1.5rem, italic, $primaryColor)
      @include atMedium
        @include font(2rem, italic, $primaryColor)
      @include atLarge
        @include font(3rem, italic, $primaryColor)



    &-button
      background: $secondaryColor
      border: 2px $primaryColor solid
      border-radius: 20px      
      @include atSmall
        @include font(2rem, italic, $primaryColor)
      @include atMedium
        @include font(2rem, italic, $primaryColor)
      @include atLarge
        @include font(3rem, italic, $primaryColor)
      &:hover
        background: $primaryColor
        border: 2px $secondaryColor solid
        color: $secondaryColor


  &__image
    content: url(/assets/heroimg2.jpg)
    z-index: -2
    object-fit: cover
    width: 100%
    height: 70vh
    object-position: left
    grid-area: 1 / 1 / 2 / 2
  
  &__shader
    z-index: -1
    background: rgb(255,252,231)
    background: linear-gradient(0deg, rgba(255,218,206,1) 0%, rgba(0,0,0,0) 15%)
    position: absolute
    width: 100%
    height: 100%
    grid-area: 1 / 1 / 2 / 2
  
